.flex           { display: flex; }
.space-between  { justify-content: space-between; }
.flex-grow      { flex: 1; }

.inline-block { display: inline-block; }

.absolute { position: absolute; }
.top-0    { top: 0; }
.left-0   { left: 0; }

.full-height  { min-height: 100vh; }
.height-100   { height: 1em; }
.height-130   { height: 1.3em; }

.width-100      { width: 100%; }
.min-width-0    { min-width: 0; }
.min-width-200  { min-width: 200px; }

.vertical-align-middle { vertical-align: middle; }

.margin-top-sm    { margin-top: $margin-sm; }
.margin-right-sm  { margin-right: $margin-sm; }
.margin-bottom-sm { margin-bottom: $margin-sm; }

.margin-top-md    { margin-top: $margin-md; }
.margin-right-md  { margin-right: $margin-md; }
.margin-bottom-md { margin-bottom: $margin-md; }

.margin-top-lg    { margin-top: $margin-lg; }
.margin-right-xl  { margin-right: $margin-xl; }

.padding-md   { padding: $margin-md; }
.padding-x-lg {
  padding-left: $margin-lg;
  padding-right: $margin-lg;
}
