$body-bg:       #e6e6e6;
$gray-dark:     #555;
$bg-primary:    #6177a8;
$bg-secondary:  #2495e0;  
$bg-success:    #4cb65b;
$bg-failure:    #b15759;

$text-size:   14px;

$margin-sm:   5px;
$margin-md:   8px;
$margin-lg:   14px;
$margin-xl:   26px;

$border-radius: 5px;
