/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700i');

body {
  background-color: #E6E6E6;
  color: #555;
  font-family: Lato, sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  line-height: 1;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

input[value]:invalid {
  color: red;
}

::placeholder  {
  font-style: italic;
  color: #777;
}
